.links {
    position: relative;
    line-height: 24px;
    font-size: 18px;

    &::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 1px;
        background-color: $cl-rest;
        transform: scale3d(0,1,1);
        transition: transform 0.6s $easing 0s, background-color 0.5s $easing 0.1s;
        left: 0;
        bottom: 0;
    }

    &:hover,
    &:focus {
        &::after {
            background-color: $cl-hover;
            transform: scale3d(1,1,1);
        }
    }
}

.links--one {
    &::after {
        transform-origin: 100% 50%;
    }

    &:hover,
    &:focus {
        &::after {
            transform-origin: 0 50%;
        }
    }
}

.links--two {
    &::after {
        transform-origin: 50% 100%;
    }

    &:hover,
    &:focus {
        &::after {
            transform-origin: 50% 100%;
        }
    }
}

.links--three {
    transition: all 0.2s linear;

    &::after {
        transform: scale3d(1,1,1);
        transition: all 0.2s linear;
        transform-origin: 0% 100%;
        left: 0px;
        width: calc(100% + 0px);
    }

    &:hover,
    &:focus {
        color: darken($cl-rest, 10%);

        &::after {
            width: calc(100% + 4px);
            left: -2px;
            bottom: -2px;
            height: calc(100% + 4px);
            opacity: 0.8;
            z-index: -1;
            transition: height 0.2s linear, bottom 0.1s linear, background-color 0.1s $easing 0s;
        }
    }
}

.links--four {
    &::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: calc(100% + 4px);
        height: 1px;
        background-color: $cl-rest;
        transform: scale3d(0,1,1);
        transition: transform 0.6s $easing 0s, background-color 0.5s $easing 0.1s;
        right: -2px;
        top: -2px;
        transform-origin: 0 100%;
    }

    &::after {
        transform-origin: 100% 50%;
        bottom: -2px;
        left: -2px;
        width: calc(100% + 4px);
    }

    &:hover,
    &:focus {
        &::before {
            background-color: $cl-hover;
            transform: scale3d(1,1,1);
            transform-origin: 100% 0;

        }

        &::after {
            transform-origin: 0 50%;
        }
    }
}

.links--five {

    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;

    &::after {
        background: linear-gradient(
            to bottom,
            rgba( darken($cl-rest, 10%), 0.8),
            rgba( darken($cl-rest, 10%), 0.8)
        ) center 1.08em / 100% 2px no-repeat;

        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        overflow: hidden;
        //top: 0;
        bottom: 0;
        width: 400%;
        will-change: transform;
        z-index: -1;
    }

    &:hover,
    &:focus {
        color: darken($cl-rest, 10%);

        &::after {
            animation: underline-gradient 3s linear infinite;
            background-image: linear-gradient(
                90deg,
                rgba( darken($cl-rest, 10%), 0.8) 15%,
                rgba( $cl-hover, 0.6) 35%,
                rgba( darken($cl-rest, 10%), 0.8 ) 85%
            );
        }
    }
}

@keyframes underline-gradient {
    0%{
        transform: translate3d(0%, 0%, 0);
    }

    100%{
        transform: translate3d(-75%, 0%, 0);
    }
}
