.site-header {
    text-align: center;
    padding: 30px 0;
}

.site-title {
    font-size: 60px;
    font-family: 'Tulpen One', cursive;
    text-transform: uppercase;
}

.spacing {
    padding: 20px 0;
}
