.follow {
    position: absolute;
    z-index: 1000;
    width: 16px;
    height: 16px;
    background-color: $cl-rest;
    border-radius: 16px;
}

.follow-delay {
    position: absolute;
    z-index: 1000;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border: 1px solid $cl-rest;
    border-radius: 16px;
}
