<section class="c-landing__wrap">
	<div class="c-landing__content-wrap">
		<h4 class="c-landing__pretitle a-scoot-left">Story 01.</h4>
		<h1 class="c-landing__title a-scoot-left">Landing title</h1>
		<a class="c-landing__read-more a-scoot-right" data-switch-on=".c-landing__wrap" href="#">Read more</a>
		<div class="c-landing__content a-fade-in-up">
			<h2>Story title</h2>
			<h3>Story intro Lorem ipsum dolor sit amet, est fastidii accumsan liberavisse ut, ei dicit nostro perfecto qui, ei omnes commodo qui.</h3>
			<p>Novum tincidunt et quo, pri indoctum consetetur efficiendi te, no veritus admodum nec. Ad nisl ipsum graeco eum. et platonem mandamus abhorreant est, impetus utroque et has. Viderer malorum graecis pri ne, vix ex purto zril sanctus.</p>
		</div>
	</div>
	<div class="c-landing__background"></div>
</section>
