<section class="c-landing__wrap" id="anime">
	<div class="c-landing__content-wrap">
		<h4 class="c-landing__pretitle a-data a-scoot--left" data-offset="900">Story 01.</h4>
		<h1 class="c-landing__title a-data a-scoot--left" data-offset="850">Landing title</h1>
		<a class="c-landing__read-more js-outro a-scoot--right" data-toggle-replace=".a-bg--zoom" data-toggle-add="a-bg--zoom-alt"
		data-toggle-remove="a-bg--zoom" href="#">Replay</a>
		<div class="c-landing__content a-fade-in-up">
			<h2>Story title</h2>
			<h3>Story intro Lorem ipsum dolor sit amet, est fastidii accumsan liberavisse ut, ei dicit nostro perfecto qui, ei omnes commodo qui.</h3>
			<p>Novum tincidunt et quo, pri indoctum consetetur efficiendi te, no veritus admodum nec. Ad nisl ipsum graeco eum. et platonem mandamus abhorreant est, impetus utroque et has. Viderer malorum graecis pri ne, vix ex purto zril sanctus.</p>
		</div>
		<div class="svg__wrap">
			<svg id="svg-bg" class="c-landing__content-wrap-bg" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
					<path id="rec-rest" d="M0,0 L100,0 C100,16.6666667 100,33.3333333 100,50 C100,66.6666667 100,83.3333333 100,100 L0,100 C1.5308085e-15,83.3333333 1.78594325e-15,66.6666667 7.65404249e-16,50 C-2.5513475e-16,33.3333333 -5.102695e-16,16.6666667 0,0 Z" fill="#FFFFFF"/>
					<path opacity="0" id="rec-left" d="M0,0 L100,0 C100,16.6666667 100,33.3333333 100,50 C100,66.6666667 100,83.3333333 100,100 L0,100 C6.66666667,83.3333333 10,66.6666667 10,50 C10,33.3333333 6.66666667,16.6666667 0,0 Z" fill="#FFFFFF"></path>
					<path opacity="0" id="rec-right" d="M10,0 L110,0 C103.333333,16.6666667 100,33.3333333 100,50 C100,66.6666667 103.333333,83.3333333 110,100 L10,100 C3.33333333,83.3333333 1.01770444e-15,66.6666667 0,50 C-2.03540888e-15,33.3333333 3.33333333,16.6666667 10,0 Z" fill="#FFFFFF"></path>
			</svg>
		</div>
	</div>
	<div class="c-landing__background a-bg--zoom"></div>
</section>
