
<section>
	<button data-toggle=".box">BOOM</button>
</section>
<section class="c-wrap">
		<div class="grid-bottom">
			<div class="col-6_sm-12">
				<img src="${require('../assets/img/gallery/img-gw-southgate-sunset.jpg')}" alt="">
			</div>
			<div class="col-6_sm-12">
				<img src="${require('../assets/img/gallery/img-gw-northland-dunes.jpg')}" alt="Dunes">
			</div>
			<div class="col-3_sm-6">
				<img src="${require('../assets/img/gallery/img-gw-southgate-sunset.jpg')}" alt="">
			</div>
			<div class="col-3_sm-6">
				<img src="${require('../assets/img/gallery/img-gw-northland-dunes.jpg')}" alt="Dunes">
			</div>
			<div class="col-3_sm-6">
				<img src="${require('../assets/img/gallery/img-gw-southgate-sunset.jpg')}" alt="">
			</div>
			<div class="col-3_sm-6">
				<img src="${require('../assets/img/gallery/img-gw-northland-dunes.jpg')}" alt="Dunes">
			</div>
			<div class="col-4_sm-6">
				<img src="${require('../assets/img/gallery/img-gw-southgate-sunset.jpg')}" alt="">
			</div>
			<div class="col-8_sm-6">
				<img src="${require('../assets/img/gallery/img-gw-northland-dunes.jpg')}" alt="Dunes">
			</div>
		</div>
	</section>
